In [3]:
%%sql 
show catalogs;

         catalog
0  spark_catalog

In [4]:
%%sql 
use prod_db

Empty DataFrame
Columns: []
Index: []

In [5]:
%%sql
show catalogs;

         catalog
0          local
1  spark_catalog

In [6]:
%%sql 
show schemas IN local;
-- Catalog --> schema

  namespace
0      prod
1   prod_db

In [7]:
%%sql
show tables IN prod_db
-- schema -> Table

   namespace                  tableName  isTemporary
0    prod_db                     orders        False
1    prod_db               fct_lineitem        False
2    prod_db                     nation        False
3    prod_db                   lineitem        False
4    prod_db     order_lineitem_metrics        False
5    prod_db               dim_customer        False
6    prod_db               stg_customer        False
7    prod_db                 stg_orders        False
8    prod_db                 stg_nation        False
9    prod_db              wide_lineitem        False
10   prod_db                   partsupp        False
11   prod_db  customer_outreach_metrics        False
12   prod_db                   supplier        False
13   prod_db               stg_lineitem        False
14   prod_db                       part        False
15   prod_db                   customer        False
16   prod_db                 fct_orders        False
17   prod_db                     region        False
18   prod_db                 stg_region        False
19   prod_db                wide_orders        False

In [8]:
%%sql --show 
select * from prod_db.customer limit 2

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,1,Customer#000000001,j5JsirBM9PsCy0O1m,15,25-989-741-2988,711.56,BUILDING,y final requests wake slyly quickly special ac...
1,2,Customer#000000002,487LW1dovn6Q4dMVymKwwLE9OKf3QG,13,23-768-687-3665,121.65,AUTOMOBILE,y carefully regular foxes. slyly regular reque...

In [10]:
%%sql 
DESCRIBE lineitem

           col_name      data_type comment
0        l_orderkey         bigint    None
1         l_partkey         bigint    None
2         l_suppkey         bigint    None
3      l_linenumber            int    None
4        l_quantity  decimal(15,2)    None
5   l_extendedprice  decimal(15,2)    None
6        l_discount  decimal(15,2)    None
7             l_tax  decimal(15,2)    None
8      l_returnflag         string    None
9      l_linestatus         string    None
10       l_shipdate           date    None
11     l_commitdate           date    None
12    l_receiptdate           date    None
13   l_shipinstruct         string    None
14       l_shipmode         string    None
15        l_comment         string    None

In [11]:
%%sql
DESCRIBE extended lineitem

,col_name,data_type,comment
0,l_orderkey,bigint,NaN
1,l_partkey,bigint,NaN
2,l_suppkey,bigint,NaN
3,l_linenumber,int,NaN
4,l_quantity,"decimal(15,2)",NaN
5,l_extendedprice,"decimal(15,2)",NaN
6,l_discount,"decimal(15,2)",NaN
7,l_tax,"decimal(15,2)",NaN
8,l_returnflag,string,NaN
9,l_linestatus,string,NaN
10,l_shipdate,date,NaN
11,l_commitdate,date,NaN
12,l_receiptdate,date,NaN
13,l_shipinstruct,string,NaN
14,l_shipmode,string,NaN
15,l_comment,string,NaN
16,,,
17,# Metadata Columns,,
18,_spec_id,int,
19,_partition,struct<>,
20,_file,string,
21,_pos,bigint,
22,_deleted,boolean,
23,,,
24,# Detailed Table Information,,
25,Name,local.prod_db.lineitem,
26,Type,MANAGED,
27,Location,file:///home/airflow/warehouse/prod_db/lineitem,
28,Provider,iceberg,
29,Owner,root,
30,Table Properties,"[current-snapshot-id=7204212971023194945,forma...",
31,Statistics,"103298384 bytes, 600572 rows",NaN

In [12]:
%%sql 
-- use * to specify all columns
SELECT
    *
FROM
    orders
LIMIT
    4

,o_orderkey,o_custkey,o_orderstatus,o_totalprice,o_orderdate,o_orderpriority,o_clerk,o_shippriority,o_comment
0,1,3691,O,194029.55,1996-01-02,5-LOW,Clerk#000000951,0,ly express platelets. deposits acc
1,2,7801,O,60951.63,1996-12-01,1-URGENT,Clerk#000000880,0,ve the furiously fluffy dependencies. carefull...
2,3,12332,F,247296.05,1993-10-14,5-LOW,Clerk#000000955,0,after the asymptotes. instructions cajole aft...
3,4,13678,O,53829.87,1995-10-11,5-LOW,Clerk#000000124,0,st the furiously bold pinto beans. furiously p...

In [14]:
%%sql 
-- use column names to only read data from those columns 
SELECT
    o_orderkey,
    o_totalprice
FROM
    orders
LIMIT
    4

   o_orderkey o_totalprice
0           1    194029.55
1           2     60951.63
2           3    247296.05
3           4     53829.87

In [15]:
%%sql 
-- all customer rows that have c_nationkey = 20
SELECT
    *
FROM
    customer
WHERE
    c_nationkey = 20
LIMIT 
    10;

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,6,Customer#000000006,"g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E",20,30-114-968-4951,7638.57,AUTOMOBILE,quickly silent asymptotes are slyly regular e...
1,81,Customer#000000081,9jUFbrThIIeoUNd8 9,20,30-165-277-3269,2023.71,BUILDING,s against the ironic packages haggle carefully...
2,100,Customer#000000100,MBy6qq3OEGpV4u,20,30-749-445-4907,9889.89,FURNITURE,dazzle carefully furiously final foxes. expres...
3,210,Customer#000000210,",XOlfSzkZDAkm96adR41j,",20,30-876-248-9750,7250.14,HOUSEHOLD,es cajole bravely across the blithely
4,223,Customer#000000223,MyQxUcG0P QCetmG00GlF,20,30-193-643-1517,7476.20,BUILDING,xcuses. silent theodolites across the carefull...
5,228,Customer#000000228,"rZ1wxvHNByT71bUJWZjXMDROzlAch6FVu,dj8Zfq",20,30-435-915-1603,6868.12,FURNITURE,es. blithely permanent sentim
6,247,Customer#000000247,eSAW4XaakYFj2WToKU,20,30-151-905-3513,8495.92,HOUSEHOLD,"tes nag according to the blithe, even packages..."
7,278,Customer#000000278,XHAfHlrYQM3elmhJ,20,30-445-570-5841,7621.56,BUILDING,ely unusual accounts. stealthily special instr...
8,285,Customer#000000285,rB6fTQKle64k3MvCCatad8DfMgR5OZA G4r,20,30-235-130-1313,7276.72,FURNITURE,slyly according to the blithely special instr...
9,321,Customer#000000321,LX0SKs3jqo9wH1yixIdGWp2ItclDiuL,20,30-114-675-9153,7718.77,FURNITURE,"ng the final, bold requests. furiously regular..."

In [16]:
%%sql
-- all customer rows that have c_nationkey = 20 or c_acctbal > 1000
SELECT
    *
FROM 
    customer
WHERE
    c_nationkey = 20
    OR c_acctbal > 1000
LIMIT
    10;

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,3,Customer#000000003,fkRGN8nY4pkE,1,11-719-748-3364,7498.12,AUTOMOBILE,fully. carefully silent instructions sleep alo...
1,4,Customer#000000004,4u58h fqkyE,4,14-128-190-5944,2866.83,MACHINERY,sublate. fluffily even instructions are about th
2,6,Customer#000000006,"g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E",20,30-114-968-4951,7638.57,AUTOMOBILE,quickly silent asymptotes are slyly regular e...
3,7,Customer#000000007,8OkMVLQ1dK6Mbu6WG9 w4pLGQ n7MQ,18,28-190-982-9759,9561.95,AUTOMOBILE,"ounts. ironic, regular accounts sleep. final r..."
4,8,Customer#000000008,"j,pZ,Qp,qtFEo0r0c 92qobZtlhSuOqbE4JGV",17,27-147-574-9335,6819.74,BUILDING,riously final excuses sublate quickly among th...
5,9,Customer#000000009,vgIql8H6zoyuLMFNdAMLyE7 H9,8,18-338-906-3675,8324.07,FURNITURE,ss pinto beans believe slyly quiet deposits-- ...
6,10,Customer#000000010,"Vf mQ6Ug9Ucf5OKGYq fsaX AtfsO7,rwY",5,15-741-346-9870,2753.54,HOUSEHOLD,g quickly after the evenly bold
7,12,Customer#000000012,Sb4gxKs7W1AZa,13,23-791-276-1263,3396.49,HOUSEHOLD,ickly regular dependencies boost blithely arou...
8,13,Customer#000000013,Ez3ax0D5HnUbeUVSxoX8a8B,3,13-761-547-5974,3857.34,BUILDING,quickly brave foxes. blithely even packages ag...
9,14,Customer#000000014,h3GFMzeFfYiamqr,1,11-845-129-3851,5266.30,FURNITURE,"r, express foxes cajole slyly aga"

In [17]:
%%sql
-- all customer rows that have c_nationkey = 20 and c_acctbal > 1000
SELECT
    *
FROM 
    customer
WHERE
    c_nationkey = 20
    AND c_acctbal > 1000
LIMIT
    10;

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,6,Customer#000000006,"g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E",20,30-114-968-4951,7638.57,AUTOMOBILE,quickly silent asymptotes are slyly regular e...
1,81,Customer#000000081,9jUFbrThIIeoUNd8 9,20,30-165-277-3269,2023.71,BUILDING,s against the ironic packages haggle carefully...
2,100,Customer#000000100,MBy6qq3OEGpV4u,20,30-749-445-4907,9889.89,FURNITURE,dazzle carefully furiously final foxes. expres...
3,210,Customer#000000210,",XOlfSzkZDAkm96adR41j,",20,30-876-248-9750,7250.14,HOUSEHOLD,es cajole bravely across the blithely
4,223,Customer#000000223,MyQxUcG0P QCetmG00GlF,20,30-193-643-1517,7476.20,BUILDING,xcuses. silent theodolites across the carefull...
5,228,Customer#000000228,"rZ1wxvHNByT71bUJWZjXMDROzlAch6FVu,dj8Zfq",20,30-435-915-1603,6868.12,FURNITURE,es. blithely permanent sentim
6,247,Customer#000000247,eSAW4XaakYFj2WToKU,20,30-151-905-3513,8495.92,HOUSEHOLD,"tes nag according to the blithe, even packages..."
7,278,Customer#000000278,XHAfHlrYQM3elmhJ,20,30-445-570-5841,7621.56,BUILDING,ely unusual accounts. stealthily special instr...
8,285,Customer#000000285,rB6fTQKle64k3MvCCatad8DfMgR5OZA G4r,20,30-235-130-1313,7276.72,FURNITURE,slyly according to the blithely special instr...
9,321,Customer#000000321,LX0SKs3jqo9wH1yixIdGWp2ItclDiuL,20,30-114-675-9153,7718.77,FURNITURE,"ng the final, bold requests. furiously regular..."

In [20]:
%%sql 
-- all customer rows that have (c_nationkey = 20 and c_acctbal > 1000) or rows that have c_nationkey = 11
SELECT
    *
FROM
    customer
WHERE
    (
        c_nationkey = 20
        AND c_acctbal > 1000
)
    OR c_nationkey = 11
LIMIT
    10;

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,6,Customer#000000006,"g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E",20,30-114-968-4951,7638.57,AUTOMOBILE,quickly silent asymptotes are slyly regular e...
1,52,Customer#000000052,"UracAlAA8tSHL5V,poTZIOjh8o,",11,21-186-284-5998,5630.28,HOUSEHOLD,ts boost. carefully express waters across the ...
2,81,Customer#000000081,9jUFbrThIIeoUNd8 9,20,30-165-277-3269,2023.71,BUILDING,s against the ironic packages haggle carefully...
3,84,Customer#000000084,GB3sUmv RRXV DPzeOSbGxMIF9Z4Eq9 rop,11,21-546-818-3802,5174.71,FURNITURE,ounts. blithely express theodolites nag carefu...
4,100,Customer#000000100,MBy6qq3OEGpV4u,20,30-749-445-4907,9889.89,FURNITURE,dazzle carefully furiously final foxes. expres...
5,131,Customer#000000131,"ItdUFrHPZlzjZ, fo03sG4topAKTV",11,21-840-210-3572,8595.53,HOUSEHOLD,ly final Tiresias. slyly permanent theodolites...
6,134,Customer#000000134,6I1TTaoG7bbiogCqRcptG6BYme,11,21-200-159-5932,4608.90,BUILDING,ly regular dolphins haggle blithely.
7,148,Customer#000000148,qJ8bFn4kwiit7RzwGrwo5m,11,21-562-498-6636,2135.60,HOUSEHOLD,e carefully pending ideas detect slyly along t...
8,190,Customer#000000190,"mY30kK8AfsTGrx,L4zI QlQnnmCUxikyc8QcZ7",11,21-730-373-8193,1657.46,AUTOMOBILE,y even packages engage furiously pending p
9,210,Customer#000000210,",XOlfSzkZDAkm96adR41j,",20,30-876-248-9750,7250.14,HOUSEHOLD,es cajole bravely across the blithely

In [22]:
%%sql
-- all customer rows where the name has a 381 in it
SELECT
*
FROM
customer
WHERE
c_name LIKE '%381%';

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,381,Customer#000000381,wXs5zN2nPHqPsfFO,5,15-860-208-7093,9931.71,BUILDING,"ithely along the regular, regular theodolites...."
1,1381,Customer#000001381,kAgLl7nUiPStCleWOiKevH3QAOhqtg9dVvrdN,22,32-418-900-6494,367.82,BUILDING,posits sleep carefully around the slyly e
2,2381,Customer#000002381,"z7B43DZ7RGlkgEi3YaXfy,Aw2SZepYurvII41Do",5,15-493-990-8133,412.99,FURNITURE,ul requests use slyly quickly even deposits. s...
3,3381,Customer#000003381,03jULkpVTm92eKW24meIj,13,23-441-750-5088,2473.54,AUTOMOBILE,er the carefully bold multipliers doze blithel...
4,3810,Customer#000003810,hlRTIO4e4HNahc8A D,18,28-881-994-8196,9906.80,FURNITURE,bold requests after the furiousl
5,3811,Customer#000003811,b6vEJqifAgSbGhzTwTz,22,32-962-997-2221,5697.04,FURNITURE,he carefully special packages. regular deposit...
6,3812,Customer#000003812,HGYp5dZtlA,14,24-653-654-5032,4204.53,FURNITURE,y ironic requests believe blithely
7,3813,Customer#000003813,Aeky0En0JO5V1zRgFZ9EvCcBWaTmW,6,16-983-191-7833,-494.03,HOUSEHOLD,rding to the express foxes. bold platelets main
8,3814,Customer#000003814,FQ3lWCA3znooc3S SmDCfwqdn4R9,20,30-833-732-5401,-207.83,AUTOMOBILE,ounts alongside of the fluffily pendin
9,3815,Customer#000003815,S5SIUeDCuVOKRTZqZ5M4CC,19,29-968-870-7672,2887.99,FURNITURE,ccounts. fluffily bold requests sleep furio
10,3816,Customer#000003816,kFLu9DYSXH,6,16-806-750-3968,4353.05,AUTOMOBILE,g the carefully ironic asymptotes. furiously i...
11,3817,Customer#000003817,IWp4rgxgRxvUeHK2xtX8SEfGYmHYrCCpbBwXm,16,26-142-669-5787,9766.42,AUTOMOBILE,es until the bold instructions wake quickly ca...
12,3818,Customer#000003818,yrvC8HiUJVCsu7MyFHcyTcmAP0NgEWnoXQgTAz36,7,17-983-218-3716,346.99,AUTOMOBILE,theodolites. special instructions are blithel...
13,3819,Customer#000003819,TejxSl9G1aF1x,4,14-964-709-5782,-210.31,BUILDING,os. excuses boost quickly across the carefully...
14,4381,Customer#000004381,MIQXH5W6Zsup5cVYfCtWupiJtgi,2,12-570-797-1472,2542.55,HOUSEHOLD,r deposits. carefully even packages along
15,5381,Customer#000005381,"bXQ,KuigJB1nASXN73PDwNOvXCIkp5",5,15-700-184-7619,4130.88,MACHINERY,es. carefully ironic ideas sleep blithely abou...
16,6381,Customer#000006381,BKfk07DtN45gg2w4mMUK1,7,17-877-502-9214,7346.88,HOUSEHOLD,"inal asymptotes boost. bold, ironic requests a..."
17,7381,Customer#000007381,yq7RXRmclCUi6wJspelKaEWSJ TfycLah,20,30-666-139-1602,73.39,BUILDING,fluffily special requests are about the fluffi...
18,8381,Customer#000008381,7kbg8wegbgGmgiW8OQ4SbJ8colXl6rpBmHudJ,0,10-177-308-9094,6674.59,AUTOMOBILE,uests against the carefully bold excuses sleep...
19,9381,Customer#000009381,BhXODcEOpwNg6,17,27-708-588-6706,4788.15,HOUSEHOLD,sual hockey players use above the final packag...
20,10381,Customer#000010381,RLDSr5JOMK45,15,25-294-314-6077,106.15,FURNITURE,r the furiously unusual pinto beans. blithely ...
21,11381,Customer#000011381,cHcQKKDGnWLbq48O,7,17-652-294-7849,1959.81,MACHINERY,structions. slyly ironic requests play furiously
22,12381,Customer#000012381,hPUYchVeqkeLC1QCsGJXF5Fj6QDQhkd,13,23-989-969-2819,1172.56,HOUSEHOLD,"cies cajole carefully. unusual, ironic ideas b..."
23,13381,Customer#000013381,TkAwDfheF4H3g9H,9,19-465-107-1496,3221.83,HOUSEHOLD,efully regular foxes. ironic platelets sleep a...
24,13810,Customer#000013810,"KDptBRwrSNgIfqVU,Si2smGKFLFix",18,28-953-486-1222,5133.48,BUILDING,"lithely. slyly ironic pinto beans nag. ironic,..."
25,13811,Customer#000013811,XvajiqJbFBaY8IfkIPanJeDnrba,19,29-964-589-6640,3436.54,MACHINERY,ly regular theodolites: courts nag blithely. b...
26,13812,Customer#000013812,"WuM0MP,N22TPjuHnUzDbcyJF86fkycoa8L7xPsKK",0,10-571-845-2630,5982.87,AUTOMOBILE,lar ideas use carefully alongside of the fluff...
27,13813,Customer#000013813,Xh5saiXGJkv5 lL,21,31-140-142-6191,1190.11,MACHINERY,"te blithely even instructions. regular, final ..."
28,13814,Customer#000013814,PnsbC4EN7J4TZ30 yPPlI8xh,17,27-767-457-2550,2131.39,FURNITURE,"instructions according to the furious, ironic..."
29,13815,Customer#000013815,UHXyxzMMNwV dIRAGo,11,21-606-813-1389,4240.37,FURNITURE,special deposits. carefully daring requests sl...
30,13816,Customer#000013816,"XX Nlht,5lD6vroOC75qAS",17,27-501-367-6604,7844.29,AUTOMOBILE,ully final excuses. carefully unusual accounts...
31,13817,Customer#000013817,eg1g5BqcUMPqvGy9oY7bjVe7nj6NsH,3,13-978-449-6295,2094.32,FURNITURE,slyly. even theodolites nag regularly-- furiou...
32,13818,Customer#000013818,r17Nf8Y8iLfBKIGP6zJUrWl5K3g,15,25-948-173-6359,8239.56,HOUSEHOLD,cial courts. excuses sleep quickly regular acc...
33,13819,Customer#000013819,9MlFsiIsVNrVT8jJKRp30wISV5sNdXAwIT85F8S,12,22-868-584-6588,1312.29,BUILDING,ackages. carefully special pinto beans
34,14381,Customer#000014381,jakuN8Gt0SJNE,21,31-449-680-6297,1915.30,FURNITURE,the even accounts cajole blithely furiously e...

In [23]:
%%sql
-- all customer rows where the name ends with a 381
SELECT
*
FROM
customer
WHERE
c_name LIKE '%381';

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,381,Customer#000000381,wXs5zN2nPHqPsfFO,5,15-860-208-7093,9931.71,BUILDING,"ithely along the regular, regular theodolites...."
1,1381,Customer#000001381,kAgLl7nUiPStCleWOiKevH3QAOhqtg9dVvrdN,22,32-418-900-6494,367.82,BUILDING,posits sleep carefully around the slyly e
2,2381,Customer#000002381,"z7B43DZ7RGlkgEi3YaXfy,Aw2SZepYurvII41Do",5,15-493-990-8133,412.99,FURNITURE,ul requests use slyly quickly even deposits. s...
3,3381,Customer#000003381,03jULkpVTm92eKW24meIj,13,23-441-750-5088,2473.54,AUTOMOBILE,er the carefully bold multipliers doze blithel...
4,4381,Customer#000004381,MIQXH5W6Zsup5cVYfCtWupiJtgi,2,12-570-797-1472,2542.55,HOUSEHOLD,r deposits. carefully even packages along
5,5381,Customer#000005381,"bXQ,KuigJB1nASXN73PDwNOvXCIkp5",5,15-700-184-7619,4130.88,MACHINERY,es. carefully ironic ideas sleep blithely abou...
6,6381,Customer#000006381,BKfk07DtN45gg2w4mMUK1,7,17-877-502-9214,7346.88,HOUSEHOLD,"inal asymptotes boost. bold, ironic requests a..."
7,7381,Customer#000007381,yq7RXRmclCUi6wJspelKaEWSJ TfycLah,20,30-666-139-1602,73.39,BUILDING,fluffily special requests are about the fluffi...
8,8381,Customer#000008381,7kbg8wegbgGmgiW8OQ4SbJ8colXl6rpBmHudJ,0,10-177-308-9094,6674.59,AUTOMOBILE,uests against the carefully bold excuses sleep...
9,9381,Customer#000009381,BhXODcEOpwNg6,17,27-708-588-6706,4788.15,HOUSEHOLD,sual hockey players use above the final packag...
10,10381,Customer#000010381,RLDSr5JOMK45,15,25-294-314-6077,106.15,FURNITURE,r the furiously unusual pinto beans. blithely ...
11,11381,Customer#000011381,cHcQKKDGnWLbq48O,7,17-652-294-7849,1959.81,MACHINERY,structions. slyly ironic requests play furiously
12,12381,Customer#000012381,hPUYchVeqkeLC1QCsGJXF5Fj6QDQhkd,13,23-989-969-2819,1172.56,HOUSEHOLD,"cies cajole carefully. unusual, ironic ideas b..."
13,13381,Customer#000013381,TkAwDfheF4H3g9H,9,19-465-107-1496,3221.83,HOUSEHOLD,efully regular foxes. ironic platelets sleep a...
14,14381,Customer#000014381,jakuN8Gt0SJNE,21,31-449-680-6297,1915.30,FURNITURE,the even accounts cajole blithely furiously e...

In [24]:
%%sql
-- all customer rows where the name starts with a 381
SELECT
*
FROM
customer
WHERE
c_name LIKE '381%';

Empty DataFrame
Columns: [c_custkey, c_name, c_address, c_nationkey, c_phone, c_acctbal, c_mktsegment, c_comment]
Index: []

In [30]:
%%sql 
-- all customer rows where the name has a combination of any character and 9 and 1
SELECT
* 
FROM
customer
WHERE
c_name LIKE '%_91%'

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,91,Customer#000000091,9Sce2m BjvDdjQkqMx8UnrUsJkk1IBAvZPTsA,8,18-239-400-3677,4643.14,AUTOMOBILE,yly ironic foxes lose slyly pending asymptotes...
1,191,Customer#000000191,cZMo3 b4GwZtUmdbw,16,26-811-707-6869,2945.16,BUILDING,daringly quickly ironic foxes. care
2,291,Customer#000000291,2FfdPluDa2fxPaRh,8,18-657-656-2318,4261.68,HOUSEHOLD,ld deposits. regularly ironic pinto beans cajo...
3,391,Customer#000000391,"BZ,850WgpZ0YSFs79Sb",11,21-604-451-4462,4801.30,HOUSEHOLD,tions wake about the blithely final instructio...
4,491,Customer#000000491,"AXsbcyMDujG,CAiEu4FmufbZ1k",0,10-856-259-7548,785.37,AUTOMOBILE,"ly final, even hockey players. carefully final..."
...,...,...,...,...,...,...,...,...
394,14916,Customer#000014916,035xAZ1oPhlAIihAkD092,15,25-400-635-5281,5961.85,BUILDING,inal accounts of the quickly ironic patterns s...
395,14917,Customer#000014917,cZ8cssZ58Txxjpl0d7mDMd,13,23-815-258-6266,-139.26,FURNITURE,against the carefully even dependencies believ...
396,14918,Customer#000014918,"hM0AjxfaIsjxOsn,SKtdkwp7,GARVKxx",6,16-780-361-1053,437.89,AUTOMOBILE,ltipliers dazzle after the carefully even pack...
397,14919,Customer#000014919,3bsc2D8rVgoBTGuACBsmBj xML5n5BHhFN9,22,32-766-874-8919,9541.68,HOUSEHOLD,sleep carefully even asymptotes. furiously spe...
398,14991,Customer#000014991,anYPB3mfutBIEfL8U5julAvLCF27RK39eOFX,7,17-617-866-6744,1258.32,HOUSEHOLD,e quickly unusual foxes. theodolites nag after...

In [31]:
%%sql
-- all customer rows which have nationkey = 10 or nationkey = 20
SELECT 
*
FROM
customer
WHERE
c_nationkey IN (10,20);

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,6,Customer#000000006,"g1s,pzDenUEBW3O,2 pxu0f9n2g64rJrt5E",20,30-114-968-4951,7638.57,AUTOMOBILE,quickly silent asymptotes are slyly regular e...
1,16,Customer#000000016,"P2IQMff18ercaYrO,40",10,20-781-609-3107,4681.03,FURNITURE,ests cajole. pinto beans detect slyly. final p...
2,41,Customer#000000041,jeREsFtCuMqEwdvTFqTkY2NzGRYDG1m,10,20-917-711-4011,270.95,HOUSEHOLD,uctions wake carefully pending deposits: pinto...
3,49,Customer#000000049,PdKqM4TlA OLTjaeRmvH7QWDu80USfslgqutF,10,20-908-631-4424,4573.94,FURNITURE,quests haggle! furiously unusual theodolites c...
4,55,Customer#000000055,ti9p9XgdmFsjsQI6XQrISDUMFAusnmKS SBoCE,10,20-180-440-8525,4572.11,MACHINERY,dolites. bold instructions wake fluffily regul...
...,...,...,...,...,...,...,...,...
995,12731,Customer#000012731,"swFK5R H3D5O0KyCLDVCFzRAn,qe",20,30-217-649-3797,9198.53,BUILDING,"deposits. ironic, ironic accounts are. express"
996,12744,Customer#000012744,qSvQ7ewh3NdzAEUw 34oS0C5hThl8oDV9cPs,20,30-536-921-9179,7123.50,MACHINERY,er the slyly even ideas wake along the stealth...
997,12746,Customer#000012746,"9tXOYBDc9kN,VkWbt5hOcwO",20,30-625-211-9755,3241.37,HOUSEHOLD,"beans nag furiously bold, express deposits? ca..."
998,12798,Customer#000012798,"XIWKSftwGctGvoQcVdCOcfIQ,",10,20-238-557-6455,2628.36,AUTOMOBILE,telets are ideas. furiously even packages nag ...
999,12803,Customer#000012803,XkLopEcbWOwdBUTy6CxtBaCzAdeg2Gdg3Nsh4nP,20,30-782-739-9002,2261.81,FURNITURE,"egular, permanent dolphins. carefully express ..."

In [32]:
%%sql
-- all customer rows which have do not nationkey as 10 or 20
SELECT 
*
FROM
customer
WHERE
c_nationkey NOT IN (10,20);

,c_custkey,c_name,c_address,c_nationkey,c_phone,c_acctbal,c_mktsegment,c_comment
0,1,Customer#000000001,j5JsirBM9PsCy0O1m,15,25-989-741-2988,711.56,BUILDING,y final requests wake slyly quickly special ac...
1,2,Customer#000000002,487LW1dovn6Q4dMVymKwwLE9OKf3QG,13,23-768-687-3665,121.65,AUTOMOBILE,y carefully regular foxes. slyly regular reque...
2,3,Customer#000000003,fkRGN8nY4pkE,1,11-719-748-3364,7498.12,AUTOMOBILE,fully. carefully silent instructions sleep alo...
3,4,Customer#000000004,4u58h fqkyE,4,14-128-190-5944,2866.83,MACHINERY,sublate. fluffily even instructions are about th
4,5,Customer#000000005,hwBtxkoBF qSW4KrIk5U 2B1AU7H,3,13-750-942-6364,794.47,HOUSEHOLD,equests haggle furiously against the pending p...
...,...,...,...,...,...,...,...,...
995,1090,Customer#000001090,cYhnjm5uH6,15,25-711-934-6343,5212.43,AUTOMOBILE,al dependencies. slowly ironic id
996,1091,Customer#000001091,XtMTviXK6RZ91oBw7ynIT4z0,17,27-336-955-4882,-710.53,BUILDING,onic accounts are quickly. ironic instructions...
997,1092,Customer#000001092,"1CqAYgU,JHQS",15,25-766-175-4580,2004.15,HOUSEHOLD,ages; slyly express pinto beans haggle alongs
998,1093,Customer#000001093,gc0RApbiH84 IpAbzqc3g agMOaS6cVKP,24,34-931-911-6156,-273.96,HOUSEHOLD,ests detect fluffily slyly fluffy ideas? fluff...
999,1094,Customer#000001094,"dls,MNN7EbF3GYrY3eRwSeOBZYd5o,cg",2,12-234-721-9871,2544.49,MACHINERY,structions among the furiously final pinto bea...

In [33]:
%%sql 
SELECT
    COUNT(*)
FROM
    customer;
-- 15,000

   count(1)
0     15000

In [34]:
%%sql 
SELECT
    COUNT(*)
FROM
    lineitem;
-- 600,572

   count(1)
0    600572

In [36]:
%%sql
-- Will show the first ten customer records with the lowest custkey
-- rows are ordered in ASC order by default
SELECT
*
FROM
orders
ORDER BY
o_custkey
LIMIT
10;

,o_orderkey,o_custkey,o_orderstatus,o_totalprice,o_orderdate,o_orderpriority,o_clerk,o_shippriority,o_comment
0,36422,1,O,268835.44,1997-03-04,3-MEDIUM,Clerk#000000532,0,s. slyly regular platelets doubt slyly after t...
1,224167,1,O,81485.84,1996-05-08,5-LOW,Clerk#000000657,0,ithely unusual deposits. slyly pending somas w...
2,135943,1,F,263247.54,1993-06-22,4-NOT SPECIFIED,Clerk#000000685,0,ironic ideas affix furiously ac
3,164711,1,F,283261.47,1992-04-26,3-MEDIUM,Clerk#000000361,0,fully special ideas. fluffil
4,287619,1,O,11925.85,1996-12-26,5-LOW,Clerk#000000854,0,t pending requests. carefully ironic sheaves a...
5,385825,1,O,235155.22,1995-11-01,2-HIGH,Clerk#000000465,0,ly express accounts. special requests accordin...
6,430243,1,F,35523.05,1994-12-24,4-NOT SPECIFIED,Clerk#000000121,0,e slyly along the furiously pending attainments
7,454791,1,F,83779.26,1992-04-19,1-URGENT,Clerk#000000815,0,ccounts sleep carefully along the slyly ev
8,579908,1,O,45744.09,1996-12-09,5-LOW,Clerk#000000783,0,"t packages hinder bold, even dolphins. slyly i..."
9,52263,2,F,36433.77,1994-05-08,4-NOT SPECIFIED,Clerk#000000080,0,"uests dazzle blithely against the final, final..."

In [38]:
%%sql
-- Will show the first ten customer's records with the highest custkey
SELECT
  *
FROM
  orders
ORDER BY
  o_custkey DESC
LIMIT
  10;

,o_orderkey,o_custkey,o_orderstatus,o_totalprice,o_orderdate,o_orderpriority,o_clerk,o_shippriority,o_comment
0,134848,14999,O,170212.14,1998-03-07,2-HIGH,Clerk#000000669,0,"uests alongside of the ironic, ironic instruct..."
1,129605,14999,P,172005.93,1995-03-27,3-MEDIUM,Clerk#000000578,0,ffix sometimes. regular ideas haggle carefu
2,94817,14999,F,193676.15,1992-08-02,4-NOT SPECIFIED,Clerk#000000650,0,d pearls. asymptotes haggle furiously regular ...
3,67298,14999,O,296795.91,1995-09-15,1-URGENT,Clerk#000000213,0,carefully bold requests. careful
4,157894,14999,F,76068.72,1992-06-08,4-NOT SPECIFIED,Clerk#000000952,0,olites. unusual multipliers nag slyly even dep...
5,158657,14999,O,164096.58,1998-02-28,3-MEDIUM,Clerk#000000977,0,eposits haggle slyly? blithely final packages ...
6,178087,14999,F,320537.50,1994-04-16,5-LOW,Clerk#000000872,0,l asymptotes nag stealthily. fluffily ironic r...
7,190498,14999,O,102768.22,1998-03-13,5-LOW,Clerk#000000941,0,n foxes. theodolites integrate blithely. final...
8,215168,14999,F,202248.65,1992-02-24,2-HIGH,Clerk#000000633,0,use quickly regular request
9,233956,14999,F,219593.16,1994-03-28,5-LOW,Clerk#000000719,0,pinto beans. regular pinto beans along

In [44]:
%%sql
SELECT
  o.o_orderkey,
  l.l_orderkey
FROM
  orders o
  JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY
LIMIT
  10;

   o_orderkey  l_orderkey
0           7           7
1          32          32
2          33          33
3          69          69
4          71          71
5         132         132
6         133         133
7         198         198
8         259         259
9         260         260

In [45]:
%%sql
SELECT
  COUNT(o.o_orderkey) AS order_rows_count,
  COUNT(l.l_orderkey) AS lineitem_rows_count
FROM
  orders o
  JOIN lineitem l ON o.o_orderkey = l.l_orderkey
  AND o.o_orderdate BETWEEN l.l_shipdate - INTERVAL '5' DAY AND l.l_shipdate  + INTERVAL '5' DAY;
-- 24613, 24613

   order_rows_count  lineitem_rows_count
0             24613                24613