In [4]:
%%sql
use prod_db

Empty DataFrame
Columns: []
Index: []

Run SQL queries as shown below

In [5]:
%%sql
show tables

  namespace tableName  isTemporary
0   prod_db    orders        False
1   prod_db  partsupp        False
2   prod_db  supplier        False
3   prod_db    nation        False
4   prod_db  lineitem        False
5   prod_db      part        False
6   prod_db  customer        False
7   prod_db    region        False

In [1]:
%%sql --show
select 1

   1
0  1

Run Python code as shown below

In [2]:
print(f'This is Python')

This is Python